{% extends 'base.html' %}
{% block head %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
  .img-preview {
    max-width: 100%;
    height: auto;
  }
</style>
{% endblock %}

{% block body %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <!-- SVG symbols -->
</svg>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="row">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Food Guide</h1>
      </div>
      <div class="col-lg-6 px-0">
        <form id="imageForm" action="/upload" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="imageInput">Upload Image:</label>
            <input type="file" class="form-control-file" id="imageInput" accept="image/*" name="image">
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        <div id="imagePreview" class="mt-3">
          <img id="preview" class="img-preview" src="{{ image_url }}" alt="Image Preview" />
        </div>
      </div>
    </div>
  </div>
  
  {% if info %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nutrition Info</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ info.name }}</td>
        </tr>
        <tr>
          <td>Calories</td>
          <td>{{ info.calories }}</td>
        </tr>
        <tr>
          <td>Carbohydrates (g)</td>
          <td>{{ info.carbohydrates_total_g }}</td>
        </tr>
        <tr>
          <td>Cholesterol (mg)</td>
          <td>{{ info.cholesterol_mg }}</td>
        </tr>
        <tr>
          <td>Fat (g)</td>
          <td>{{ info.fat_total_g }}</td>
        </tr>
        <tr>
          <td>Saturated Fat (g)</td>
          <td>{{ info.fat_saturated_g }}</td>
        </tr>
        <tr>
          <td>Fiber (g)</td>
          <td>{{ info.fiber_g }}</td>
        </tr>
        <tr>
          <td>Potassium (mg)</td>
          <td>{{ info.potassium_mg }}</td>
        </tr>
        <tr>
          <td>Protein (g)</td>
          <td>{{ info.protein_g }}</td>
        </tr>
        <tr>
          <td>Serving Size (g)</td>
          <td>{{ info.serving_size_g }}</td>
        </tr>
        <tr>
          <td>Sodium (mg)</td>
          <td>{{ info.sodium_mg }}</td>
        </tr>
        <tr>
          <td>Sugar (g)</td>
          <td>{{ info.sugar_g }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
</main>

<script>
  document.getElementById('imageInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('preview').src = e.target.result;
      }
      reader.readAsDataURL(file);
    }
  });

  document.getElementById('imageForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(this);

    fetch('/upload', {
      method: 'POST',
      body: formData
    })
    .then(response => response.text())
    .then(data => {
      document.open();
      document.write(data);
      document.close();
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

{% endblock %}
